@import url(../fonts/css/fontawesome-all.min.css);
@import url(bootstrap/css/bootstrap.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i&subset=cyrillic,cyrillic-ext,latin-ext");
html, body {
  min-height: 100%;
  height: 100%; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column; }
  body .header,
  body footer {
    flex-basis: 60px;
    flex-grow: 0;
    flex-shrink: 0; }
  body .wrapper {
    flex-basis: 0.0001px;
    flex-grow: 1; }

.btn-pay {
  width: 40%;
  margin: 0 auto; }

.btn-download {
  margin: 0 20px; }
  .btn-download:active {
    outline: none;
    border: none; }

.btn-close {
  width: 10px;
  align-self: flex-end; }

.btn-purchases {
  padding: 10px 40px;
  text-transform: uppercase;
  background: #0073ed; }

.btn-edit-doc {
  color: #000000;
  margin-right: 15px;
  border: none;
  background: none; }
  .btn-edit-doc:hover {
    color: #007bff;
    cursor: pointer; }
  .btn-edit-doc:focus {
    outline: none; }

.img-pdf {
  font-size: 30px; }

.enter-forget-password {
  outline: none;
  background: none;
  border: none; }
  .enter-forget-password:hover {
    cursor: pointer; }

.btn-forget-password {
  margin: 0 auto;
  width: 200px;
  margin-bottom: 10px; }

.input-search {
  margin: 10px; }
  .input-search input {
    padding-left: 15px;
    width: 80%;
    min-height: 30px;
    border-radius: 10px;
    border: 1px solid #818181;
    background: #2d3941;
    font-size: 15px; }
    .input-search input:focus {
      outline: none;
      color: #d9dbdc;
      box-shadow: 0 0 3px 0 #f7f7f7; }
    .input-search input:focus::placeholder {
      color: transparent; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

.sorting-wrapper {
  margin: 20px; }
  .sorting-wrapper .form-check {
    margin-top: 20px; }

.doc-search input {
  padding: 10px 80px 10px 5px;
  font-size: 0.9rem;
  outline: none; }
  .doc-search input:focus::placeholder {
    color: transparent; }

.doc-search .btn-search {
  padding: 7px 30px;
  border-color: #dcdcdc;
  color: lightslategrey;
  background: #efefef; }
  .doc-search .btn-search:hover {
    background: #007bff;
    color: #ffffff;
    transition: 0.4s linear; }
  .doc-search .btn-search:active {
    background: #eaeaea; }

.user-select {
  border: transparent;
  color: #6b6b6b; }
  .user-select:hover {
    color: #000205;
    transition: 0.3s;
    cursor: pointer; }
  .user-select:focus {
    outline: none; }

#modal-log, #modalForgerPassword, #modalForgerPasswordSendMail, #modalWriteSupport {
  display: none;
  background-color: rgba(61, 61, 61, 0.7); }
  #modal-log .login, #modalForgerPassword .login, #modalForgerPasswordSendMail .login, #modalWriteSupport .login {
    width: 500px;
    border: none;
    box-shadow: 0 0 30px 0 #050505; }
  #modal-log .modal-content-header, #modalForgerPassword .modal-content-header, #modalForgerPasswordSendMail .modal-content-header, #modalWriteSupport .modal-content-header {
    display: flex; }
    #modal-log .modal-content-header a.tab, #modalForgerPassword .modal-content-header a.tab, #modalForgerPasswordSendMail .modal-content-header a.tab, #modalWriteSupport .modal-content-header a.tab {
      width: 50%;
      min-height: 50px;
      font-size: 1.7rem;
      line-height: 3rem;
      text-align: center;
      background: rgba(54, 54, 54, 0.7);
      color: #ffffff; }
      #modal-log .modal-content-header a.tab.active, #modalForgerPassword .modal-content-header a.tab.active, #modalForgerPasswordSendMail .modal-content-header a.tab.active, #modalWriteSupport .modal-content-header a.tab.active {
        color: #3d3d3d;
        background: #ffffff; }
      #modal-log .modal-content-header a.tab:hover, #modalForgerPassword .modal-content-header a.tab:hover, #modalForgerPasswordSendMail .modal-content-header a.tab:hover, #modalWriteSupport .modal-content-header a.tab:hover {
        text-decoration: none; }
      #modal-log .modal-content-header a.tab:first-child, #modalForgerPassword .modal-content-header a.tab:first-child, #modalForgerPasswordSendMail .modal-content-header a.tab:first-child, #modalWriteSupport .modal-content-header a.tab:first-child {
        border-top-left-radius: 3px; }
      #modal-log .modal-content-header a.tab:last-child, #modalForgerPassword .modal-content-header a.tab:last-child, #modalForgerPasswordSendMail .modal-content-header a.tab:last-child, #modalWriteSupport .modal-content-header a.tab:last-child {
        border-top-right-radius: 3px; }
  #modal-log .modal-body, #modalForgerPassword .modal-body, #modalForgerPasswordSendMail .modal-body, #modalWriteSupport .modal-body {
    padding: 30px; }
  #modal-log .input-wrapper, #modalForgerPassword .input-wrapper, #modalForgerPasswordSendMail .input-wrapper, #modalWriteSupport .input-wrapper {
    display: flex;
    margin: 25px 0; }
    #modal-log .input-wrapper input, #modalForgerPassword .input-wrapper input, #modalForgerPasswordSendMail .input-wrapper input, #modalWriteSupport .input-wrapper input {
      margin-left: 10px;
      width: 100%;
      color: #570c0a;
      background: none;
      border: 0;
      border-bottom: 1px solid #595959;
      outline: 0; }
      #modal-log .input-wrapper input::placeholder, #modalForgerPassword .input-wrapper input::placeholder, #modalForgerPasswordSendMail .input-wrapper input::placeholder, #modalWriteSupport .input-wrapper input::placeholder {
        color: #777777;
        font-weight: 100; }
      #modal-log .input-wrapper input:focus::placeholder, #modalForgerPassword .input-wrapper input:focus::placeholder, #modalForgerPasswordSendMail .input-wrapper input:focus::placeholder, #modalWriteSupport .input-wrapper input:focus::placeholder {
        color: transparent;
        transition: 0.2s; }
    #modal-log .input-wrapper i, #modalForgerPassword .input-wrapper i, #modalForgerPasswordSendMail .input-wrapper i, #modalWriteSupport .input-wrapper i {
      line-height: 1.5rem; }
  #modal-log .social-networks, #modalForgerPassword .social-networks, #modalForgerPasswordSendMail .social-networks, #modalWriteSupport .social-networks {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 60px;
    height: 50px;
    font-size: 25px; }
    #modal-log .social-networks a, #modalForgerPassword .social-networks a, #modalForgerPasswordSendMail .social-networks a, #modalWriteSupport .social-networks a {
      color: #646464; }
    #modal-log .social-networks .fb:hover, #modalForgerPassword .social-networks .fb:hover, #modalForgerPasswordSendMail .social-networks .fb:hover, #modalWriteSupport .social-networks .fb:hover {
      color: #00008c; }
    #modal-log .social-networks .google:hover, #modalForgerPassword .social-networks .google:hover, #modalForgerPasswordSendMail .social-networks .google:hover, #modalWriteSupport .social-networks .google:hover {
      color: #7f0f16; }
  #modal-log .enter-forget-password, #modalForgerPassword .enter-forget-password, #modalForgerPasswordSendMail .enter-forget-password, #modalWriteSupport .enter-forget-password {
    text-decoration: underline;
    display: inline-block;
    font-size: 0.9rem;
    color: #969696; }
    #modal-log .enter-forget-password:hover, #modalForgerPassword .enter-forget-password:hover, #modalForgerPasswordSendMail .enter-forget-password:hover, #modalWriteSupport .enter-forget-password:hover {
      color: #606060; }
    #modal-log .enter-forget-password i, #modalForgerPassword .enter-forget-password i, #modalForgerPasswordSendMail .enter-forget-password i, #modalWriteSupport .enter-forget-password i {
      padding-right: 5px; }
  #modal-log .btn-enter, #modalForgerPassword .btn-enter, #modalForgerPasswordSendMail .btn-enter, #modalWriteSupport .btn-enter {
    width: 50%;
    display: block;
    margin: 0 auto 10px; }

#modal, #modalEditDoc {
  display: none;
  background-color: rgba(0, 0, 0, 0.7); }
  #modal .modal-content-admin, #modalEditDoc .modal-content-admin {
    padding: 10px;
    width: 500px; }
  #modal .default-input, #modalEditDoc .default-input {
    width: 100%;
    height: 30px;
    border: 1px solid #b7b7b7;
    line-height: 30px;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 0 10px;
    color: #767777;
    font-family: 'Roboto Condensed', sans-serif;
    outline: none; }
    #modal .default-input:focus::placeholder, #modalEditDoc .default-input:focus::placeholder {
      color: transparent; }
    #modal .default-input input[type="number"], #modalEditDoc .default-input input[type="number"] {
      width: 170px; }

#modalWriteSupport .input-support {
  resize: none;
  min-height: 150px;
  margin-left: 10px;
  width: 100%;
  background: none;
  border: 1px solid #e6e6e6;
  outline: 0; }
  #modalWriteSupport .input-support::placeholder {
    color: #777777;
    font-weight: 100; }
  #modalWriteSupport .input-support:focus::placeholder {
    color: transparent;
    transition: 0.2s; }

#modalWriteSupport .i-doc {
  font-size: 20px; }

.upload-input {
  color: #808080; }

textarea {
  resize: none;
  min-height: 100px; }

#modalAddCategory, #confirmDeletion {
  display: none;
  background-color: rgba(0, 0, 0, 0.7); }
  #modalAddCategory .modal-dialog, #confirmDeletion .modal-dialog {
    margin: 7rem auto; }
    #modalAddCategory .modal-dialog .modal-content-admin, #confirmDeletion .modal-dialog .modal-content-admin {
      padding: 30px;
      width: 350px; }
      #modalAddCategory .modal-dialog .modal-content-admin input, #confirmDeletion .modal-dialog .modal-content-admin input {
        margin-bottom: 10px; }
        #modalAddCategory .modal-dialog .modal-content-admin input:focus::placeholder, #confirmDeletion .modal-dialog .modal-content-admin input:focus::placeholder {
          color: transparent; }
      #modalAddCategory .modal-dialog .modal-content-admin .btn-primary, #confirmDeletion .modal-dialog .modal-content-admin .btn-primary {
        margin-bottom: 10px; }

.header {
  min-height: 60px;
  background-color: #2d3941; }
  .header .logo > img {
    display: block;
    margin: 5px auto;
    height: 50px;
    width: 80px; }

.nav-link {
  color: #d9dbdc;
  font-size: 1.05rem; }
  .nav-link i {
    padding-right: 10px;
    font-size: 2rem; }
  .nav-link:hover {
    color: #f1f3f4;
    text-shadow: 0 0 1px #ffffff; }

.wrapper > * {
  height: 100%; }

.content {
  padding: 20px; }
  .content .title {
    color: #0b0b0b;
    margin-bottom: 40px; }
  .content .content-img {
    margin-left: 10px; }
  .content .paragraph {
    padding-left: 15px;
    text-indent: 3rem; }
  .content .nav-item::before {
    content: "-";
    padding-right: 5px; }

.table-content {
  width: 1000px;
  margin: 50px; }

.title {
  color: #ffffff; }

.table tr:hover {
  background: #fafafa;
  transition: 0.2s; }

.search-wrapper {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px; }

.aside {
  background: #2d3941;
  padding: 0; }

.sidebar-menu {
  padding: 30px 0; }
  .sidebar-menu .title:not(:first-child) {
    margin-top: 30px; }
  .sidebar-menu li {
    padding-left: 20px;
    border-bottom: 1px solid #636363; }
  .sidebar-menu li:first-child {
    border-top: 1px solid #636363; }

.footer {
  background-image: linear-gradient(#2d3941, #333333, #000000); }

.nav-link .foot-icon {
  vertical-align: middle;
  font-size: 1.1rem; }
